# .github/workflows/deploy.yml

name: Deploy Static Site to Azure

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: 4f3fcc804d40d165663c4b34864ff781aa6049d6d4da58f099cf59b65c2f078e03-88ca795d-e599-49a5-b030-603554326f770102223083e9ae10
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "/" # pasta onde está seu index.html
          api_location: ""  # deixe vazio se não tiver backend
          output_location: "" # deixe vazio se não tiver build

